* {
	margin: 0;
	border: 0;
	box-sizing: border-box;
}

body {
	background-color: rgb(226, 226, 226);
	height: 100vh;
}
.header {
	height: 50px;
	width: 50%;
	border-radius: 20px;
	background-color: #fff;
}

.header p {
	text-align: center;
	padding-top: 10px;
	color: #17a9af;
	font-size: 1.5rem;
}

h3 {
	margin-top: 30px;
}
.container {
	position: relative;
	margin-top: 50px;
	margin-left: 15%;
	margin-right: 15%;
	min-height: 80vh;
	display: flex;
}

img {
	position: absolute;
	top: 20%;
	left: 0;
	height: 80%;
	width: 40%;
}

.content {
	width: 30%;
	background-color: #3bd4d9;
	padding: 40px;
}

.form {
	width: 70%;
	display: flex;
	flex-direction: column;
	gap: 20px;
	padding: 40px 0 40px 10%;
	background-color: white;
}

.form-wrapper {
	margin-top: 70px;
}

.form .input {
	position: relative;
	width: 50%;
	height: 50px;
	border-radius: 5px;
	outline: 2px solid #17a9af;
	margin-top: 30px;
}

.input input {
	position: absolute;
	height: 100%;
	width: 100%;
	padding: 0 35px;
	font-size: 16px;
}

.input i {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	color: #999;
}
.input i.showHidePass {
	right: 0;
	cursor: pointer;
	padding-right: 10px;
}
.button input {
	border: none;
	color: #fff;
	font-size: 20px;
	font-weight: 800;
	letter-spacing: 1px;
	border-radius: 6px;
	background-color: #17a9af;
	cursor: pointer;
}

.text {
	margin-top: 30px;
	font-size: 22px;
}
 .text a {
	text-decoration: none;
	color: #17a9af;
}