* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: Poppins, sans-serif;
	color: #000080;
}

.profile-container {
	display: flex;
	justify-content: space-between;
}

.sidebar {
	padding-top: 40px;
	padding-left: 80px;
}

.home,
.tasks,
.new,
.profile {
	margin-top: 15px;
	padding-left: 20px;
	border-bottom: #008ecc 1px solid;
}

.content {
	background: #008ecc;
	flex-basis: 80%;
	padding: 40px 200px 0 200px;
	padding-bottom: 20px;
	height: 100vh;
}

.content-header {
	display: flex;
	justify-content: space-between;
	margin-bottom: -40px;
}

.content-header div,
#search {
	border: 1px solid #000080;
	background: #ffffff;
	width: 30%;
	padding: 10px;
	border-radius: 10px;
}

#search {
	margin-top: 20px;
	width: 70%;
	padding: 15px;
}

.content-body {
	padding-top: 60px;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
}

.categories {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 30px;
}

.category,
.todo {
	background: #000080;
	border-radius: 10px;
	padding: 20px 0 20px 20px;
	border: 1px solid #000080;
	color: #ffffff;
}

.add-btn {
	border: 1px solid #000080;
	background: #ffffff;
	border-radius: 50%;
	align-self: center;
	margin-top: -30px;
	/* margin-right: 80px; */
}

.add-btn:hover {
	cursor: pointer;
}

.add-btn img {
	padding: 10px;
}

.all-todos {
	margin-bottom: 15px;
	background: #06648d;
	width: 30%;
	height: 100px;
	display: flex;
	justify-content: center;
	border-radius: 20px;
	padding: 10px;
}

.all-todos div {
	padding-left: 10px;
}

.all-todos img {
	width: 40%;
}

.all {
	font-size: 1.5rem;
	font-weight: bold;
}

small {
	font-size: 1rem;
	font-weight: bold;
}

.todos {
	display: flex;
	flex-direction: column;
}

.todo {
	display: flex;
	flex-direction: row;
	margin-bottom: 20px;
}

.todo-text {
	flex-basis: 60%;
}

.todo-update {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	margin-right: 20px;
}

.todo img {
	width: 7%;
	height: 50%;
	align-self: center;
}

#edit {
	margin-right: 15px;
}

#edit, #delete {
	cursor: pointer;
}
